<!-- reservation-dialog.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservation</title>
  <link rel="stylesheet" href="reservation.component.css">
</head>
<body>
<div class="dialog-container">
  <div class="dialog-content">
    <span class="dialog-close" (click)="closeDialog()">×</span>
    <h2 class="dialog-title">Reservation</h2>


    <form [formGroup]="reservationForm" class="dialog-form" (ngSubmit)="submitReservation()">

      <label for="dateFrom">Check-In Date:</label>
      <input type="text" id="dateFrom" formControlName="dateFrom" class="dialog-input" >
<!--      <input type="date" id="checkIn" formControlName="checkIn" class="dialog-input">-->

      <label for="dateTo">Check-Out Date:</label>
      <input type="text" id="dateTo" formControlName="dateTo" class="dialog-input" >
<!--      <input type="date" id="checkOut" formControlName="checkOut" class="dialog-input">-->

      <div class="dialog-button-container">
        <button type="submit" class="dialog-button">Submit</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
