<!-- accommodation-create.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Accommodation</title>
  <link rel="stylesheet" href="accommodation-create.component.css">
</head>
<body>
<div class="dialog-container">
  <div class="dialog-content">
    <span class="dialog-close" (click)="closeDialog()">×</span>
    <h2 class="dialog-title">Create Accommodation</h2>
    <form [formGroup]="accommodationForm" class="dialog-form" (ngSubmit)="submitAccommodation()">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" class="dialog-input" required>

      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" class="dialog-input" required></textarea>

      <label for="amenities">Amenities:</label>
      <div class="amenities-checkboxes">
        <label *ngFor="let amenity of amenitiesList">
          <input type="checkbox" [value]="amenity" formControlName="amenities" id="amenities"> {{ amenity }}
        </label>
      </div>

      <div class="dialog-button-container">
        <button type="submit" class="dialog-button">Create Accommodation</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
