<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
<nav class="navbar-container">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/accommodations">Accommodations
    </a></li>
    <ng-container *ngIf="!isAuthenticated()">
      <a  style="margin-right: 10px" href="http://localhost:4200/login"><button id="loginbttn">Login</button></a>
      <a href="http://localhost:4200/register"><button id="registerbttn">Register</button></a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <a style="margin-left: 10px;margin-right: 10px" href="http://localhost:4200/profile"><button id="profilebutn">Profile</button></a>
      <button id="logoutbttn" (click)="logout()">Logout</button>
    </ng-container>
  </ul>
</nav>
<div class="login-container">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <form class="login-form" (ngSubmit)="submitForm()" [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" id="username" formControlName="username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" required>
    </div>

    <div class="form-group2">
      <re-captcha  (resolved)="onRecaptchaResolved($event)" siteKey="6LeOqyIpAAAAAFK2azb4_6rC8NcW27PqIUfQ_1jt"></re-captcha>
    </div>
    <button type="submit" class="login-button">Login</button>
  </form>
  <p class="signup-link">Forgot your password? <a routerLink="/reset-request">Reset password</a></p>
  <p class="signup-link">Haven't an account? <a routerLink="/register">Sign up</a></p>
</div>
</body>
</html>
