<html>
<body>
<nav class="navbar-container">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/accommodations">Accommodations
    </a></li>
    <ng-container *ngIf="!isAuthenticated()">
      <a href="http://localhost:4200/login"><button id="loginbttn">Login</button></a>
      <a href="http://localhost:4200/register"><button id="registerbttn">Register</button></a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button id="logoutbttn" (click)="logout()">Logout</button>
    </ng-container>
  </ul>
</nav>
<h1>Home Horizont</h1>
  <p>Welcome to our inviting home page, where comfort and convenience converge.
     Explore a curated selection of accommodations tailored to your preferences,
      whether you seek a cozy urban retreat or a tranquil countryside escape.
       Immerse yourself in a seamless browsing experience as you discover unique spaces designed
        to elevate your stay. Your journey begins here, where every click unveils a world of possibilities for your next unforgettable experience.</p>
  <a href="/accommodations"><button type="button">Offers</button></a>
</body>
</html>
