<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Profile</title>
  <link rel="stylesheet" href="user-profile.component.css">
</head>
<body>
<div class="profile-container">
  <div class="profile-header">
    <h1>User Profile</h1>
  </div>
  <table class="profile-table">
    <tr>
      <td>Username:</td>
      <td><strong>Perica</strong></td>
    </tr>
    <tr>
      <td>Email Address:</td>
      <td><strong>pera@gmail.com</strong></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><strong>Pere Simica 5, Novi Sad, Srbija</strong></td>
    </tr>
    <tr>
      <td>Birth date:</td>
      <td><strong>11/11/2002</strong></td>
    </tr>
  </table>
  <a href="editProfile" class="edit-button">Edit Profile</a>
  <a href="passwordChange" class="edit-button">Change password</a>
</div>
</body>
</html>
