<!-- navbar.component.html -->
<nav class="navbar-container">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/accommodations">Accommodations
      </a></li>
      <ng-container *ngIf="!isAuthenticated()">
        <a href="http://localhost:4200/login"><button id="loginbttn">Login</button></a>
        <a href="http://localhost:4200/register"><button id="registerbttn">Register</button></a>
      </ng-container>
      <ng-container *ngIf="isAuthenticated()">
        <button id="logoutbttn" (click)="logout()">Logout</button>
      </ng-container>
    </ul>
  </nav>
  