@import '~@angular/material/prebuilt-themes/indigo-pink.css'; /* Importujte temu prema vašim potrebama */


html, body, div, h1, form, label, input, button, a {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #00b2ff, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-container {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-header h1 {
  font-size: 24px;
  color: #333;
}

.profile-form .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

label {
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-color: #007BFF;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.save-button {
  background: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.save-button:hover {
  background: #0056b3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#user-segment, #address-segment{
  width: 100%;
}

.custom-datepicker-input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: -1px;
  visibility: visible;

}



