<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accommodations</title>
  <link rel="stylesheet" href="accommodations.component.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar-container">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/accommodations">Accommodations</a></li>
    <ng-container *ngIf="!isAuthenticated()">
      <a href="http://localhost:4200/login"><button id="loginbttn">Login</button></a>
      <a style="margin-left: 10px;margin-right: 10px" href="http://localhost:4200/register"><button id="registerbttn">Register</button></a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <a  style="margin-left: 10px;margin-right: 10px" href="http://localhost:4200/profile"><button id="profilebutn">Profile</button></a>
      <button id="logoutbttn" (click)="logout()">Logout</button>
    </ng-container>
  </ul>
</nav>
<div class="wrapper">

  <section class="accommodations-section">
    <h2>Accommodations</h2>

    <!-- Inside your HTML template -->
    <div class="searching-segment">
      <div class="filters">
        <div class="filter-group">
          <label for="location">Location:</label>
          <input type="text" id="location" placeholder="Search by location" #locationInput (keyup)="onLocationInputChange($event)">
        </div>
    
        <div class="filter-group">
          <label for="numberOfGuests">Number of Guests:</label>
          <input type="number" id="numberOfGuests" placeholder="Enter number of guests" #numberOfGuestsInput (input)="onLocationInputChange($event)" (change)="onLocationInputChange($event)">
        </div>
    
        <div class="filter-group">
          <label for="dateFrom">Date From:</label>
          <input type="date" id="dateFrom" #dateFromInput (change)="onLocationInputChange($event)">
        </div>
    
        <div class="filter-group">
          <label for="dateTo">Date To:</label>
          <input type="date" id="dateTo" #dateToInput (change)="onLocationInputChange($event)">
        </div>
    
        <button class="search-button" (click)="applyFilters()">Search</button>
      </div>
    </div>
    

    
    
    <!-- Search Bar and Filters -->
    <!-- <div class="searching-segment">
      <div class="search-bar">
        <input type="text" placeholder="Search by name" [(ngModel)]="searchText">
      </div>

      <div class="filters">
        <div class="filter-group">
          <label for="minPrice">Price Range:</label>
          <div class="price-inputs">
            <input type="number" id="minPrice" placeholder="Min" [(ngModel)]="minPrice">
            <input type="number" id="maxPrice" placeholder="Max" [(ngModel)]="maxPrice">
          </div>
        </div>

        <div class="filter-group">
          <label for="owner">Owner:</label>
          <input type="text" id="owner" placeholder="Search by owner" [(ngModel)]="ownerFilter">
        </div>

        <div class="filter-group">
          <label>Amenities:</label>
          <div class="amenities-checkboxes">
            <div *ngFor="let amenity of amenities">
              <input type="checkbox" id="{{ amenity }}" [(ngModel)]="selectedAmenities[amenity]" [value]="amenity">
              <label for="{{ amenity }}">{{ amenity }}</label>
            </div>
          </div>
        </div>

        <button class="search-button" (click)="applyFilters()">Search</button>
      </div> -->
    <!-- </div> -->
    <div class="lower">
      <ng-container *ngIf="isAuthenticated() && isHost()">
        <div class="add-accommodation-container">
          <button class="add-accommodation-button" (click)="openCreateAccommodationDialog()">Add New Accommodation</button>
        </div>
      </ng-container>
      <hr>
      <div class="accommodationsBox">
        <div class="accommodationsBoxScroll">
          <div class="accommodations-container" *ngIf="b==1">
            <div *ngFor="let accommodation of accommodations" class="accommodation-card">
              <div class="accommodation-info">
                <h3>Name: {{ accommodation.name }}</h3>
                <p>Location: {{ accommodation.location }}</p>
                <p>Price: {{accommodation.price}}/night</p>
                <p *ngIf="accommodation.availabilities">Test: {{accommodation.availabilities[0].from}} to {{accommodation.availabilities[0].to}}</p>
              </div>
              <button class="view-details-button" (click)="viewAccommodationDetails(accommodation)">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>

</body>
</html>
